@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.button-register{
    width: 259px;
    height: 53px;
    position: relative;
    left: 15.6%;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E5E5E5;
    /* background-color: #3EDBF0; */
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 72px;
    margin-bottom: 55px;
}

.button-log{
    width: 259px;
    height: 53px;
    position: relative;
    left: 15.6%;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E5E5E5;
    /* background-color: #3EDBF0; */
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 26px;
    margin-bottom: 35px;
}

.button-forgot{
    width: 259px;
    height: 53px;
    position: relative;
    left: 15.6%;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E5E5E5;
    /* background-color: #3EDBF0; */
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 36px;
    margin-bottom: 29px;
}