@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main-div{
    margin: 0 auto;
    width: 899px;
    background: #3EDBF0;
}

.ul-foundation, .ul-mandatory_spending, .ul-optionalSpending, .ul-popularOptionalSpending{
    padding-left: 20px;
    padding-top: 10px;
}