@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.h2-login{
    margin: 0 auto;
    width: 366px;
    height: 28px;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #B8B5FF;
    margin-bottom: 45px;
}

.div-log{
    margin: 0 auto;
    background-color: #04009A;
    width: 474px;
}

.div-log-content{
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 35px;
}