.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgb(233 40 107 / 85%);
  line-height: 64px;
  background: #b0ceeb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.header-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px 10px 10px;
  /* background-color: cornflowerblue; */
}
.header__button {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-layout-content {
  width: 500px;
  min-height: 280px;
  padding: 24px;
  background-size: cover;
  min-height: 84vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-logo {
  background-image: url("./image/scale_1200.png");
  background: red;
  width: 77px;
  height: 77px;
}

.footer-link {
  width: 77px;
  height: 77px;
}



.ant-layout-content {
  flex: auto;
  min-height: 84vh;
  width: 95vw;
  padding: 0 15px !important;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: white !important;
  width: 100%;
}

.type-text {
  font-size: 35px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}