@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.div-consent {
  margin: 0 auto;
  margin-top: 37px;
  width: 311px;
  display: flex;
}

.p-consent {
    font-family: "Roboto";
    width: 254px;
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    margin-bottom: 0px;
    margin-right: 25px;
}
.input-checkbox {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  position: relative;
  top: 5px;
}
.input-style {
    background-color: white;
    border: 1px solid black;
}

.div-registration {
  margin: 0 auto;
  width: 474px;
  background-color: white;
  border-radius: 15px;
}

.h2-registration {
  margin: 0 auto;
  width: 366px;
  height: 28px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #b8b5ff;
  margin-bottom: 45px;
  color: #3b3a3e;
}
.div-registration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #efefef;
}
.p-input-style {
    margin-bottom: 0;
    width: 100px;
    height: 21px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #151212;
}
.button-register {
    width: 259px;
    height: 53px;
    position: relative;
    left: 15.6%;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E5E5E5;
    /* background-color: #3EDBF0; */
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 72px;
    margin-bottom: 55px;
    background: linear-gradient(to bottom, #0084e3, #167ac1);
}
.p-register {
    width: 321px;
    height: 28px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    color: #167ac1;
    margin-top: 4px;
    margin-bottom: 0px;
}
.content-registration {
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 35px;
    overflow: hidden;
}